# ── API ────────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001

# ── App ────────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_NAME="BuyOnline"
NEXT_PUBLIC_APP_ENV=development
